$('#comments').append( '<p><%= @comment.message %></p><br>');
console.log('je suis dans le crezte.js')

//var commentForm = document.getElementById('comments');
//console.log("commentForm", commentForm)

//commentForm.insertAdjacentHTML('beforeend', "<p><%= j @comment.message %></p><br>");
