<div class="theme__navbar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "En cours", themes_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Publiés", ended_themes_path, class: "nav-link active" %>
    </li>
  </ul>
</div>


