<div class="theme__publication">
  <p>Date limite de soumission: <%= theme.deadline.strftime('%d/%m/%Y') %></p>
</div>
<div class="theme__ongoing">
  <i class="far fa-clock"></i>
  <%= theme.deadline.mjd-DateTime.now.mjd %> j
</div>
