<%= render 'theme-navbar'%>

<div class="container ">
  <div class="row ">
    <% @pending_themes.each do |theme| %>
      <div class=" col-xs-12 col-sm-6 col-md-4">
        <!-- only theme which are still ongoing or past themes which contains at least one post are displayed -->
        <% if theme.photo.present? %>
          <div class=" theme__box__with__photo">
            <%= render 'theme-without-photo-card', theme: theme %>
          </div>

        <% else %>
          <div class=" theme__box__without__photo">
             <%= render 'theme-with-photo-card', theme: theme %>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
