<div class="container">
  <h1>Mettez à jour votre profil</h1>
  <p>
    <%= simple_form_for (@user) do |f| %>
      <%= f.input :pseudo, label: "Pseudo" %>
      <%= f.button :submit %>
    <% end %>
  </p>
</div>
