<div >
  <%= link_to theme_path(theme) do %>
    <%= render 'themes/theme-owner', theme: theme %>
    <%= render 'themes/theme-title', theme: theme %>
    <%= render 'themes/theme-contributors', theme: theme %>
  <% end %>
</div>


