<div class="banner"=>
  <div class="banner__content">
    <h1>FTERO</h1>
    <p>
      <!-- allow to use type.js to insert dynamic text-->
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to 'Entrer', themes_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
