<section>
  <div class="banner">
    <div>
      <h1>FTERO</h1>
      <p>
        <!-- allow to use type.js to insert dynamic text-->
        <span id="banner-typed-text"></span>
      </p>
      <span><%= link_to 'Entrer', themes_path, class: "btn btn-primary btn-lg" %></span>
    </div>
  </div>
  <div class="container">
    <div>
      <h2 class="tuto__title">Comment ça marche?</h2>
    </div>
    <div clas="row">
      <div class="tuto col-xs-12 col-sm-6 col-md-4">
        <div class="tuto__card">
          <h3 >Publiez un sujet</h3>
          <p>Vous pouvez publier une citation, phrase, image sur un sujet qui vous inspire. Tous les membres de Ftero peuvent écrire un article sur le thème que vous avez publié</p>
        </div>
      </div>
      <div class="tuto col-xs-12 col-sm-6 col-md-4">
          <div class="tuto__card">
            <h3 >Donnez une date limite de rendu des articles</h3>
            <p>Chaque contributeur de votre thème peut ecrire  et améliorer son article jusqu'à la date butoire</p>
          </div>
      </div>
      <div class="tuto col-xs-12 col-sm-6 col-md-4">
        <div class="tuto__card">
          <h3>Découvrez les articles écrits par tous les contributeurs du thème</h3>
          <p>Une fois la deadline passée, tous les articles sont publiés.</p>
        </div>
      </div>
    </div>
    <!-- <div clas="row">
      <div class="tuto col-xs-12 col-sm-12 col-md-12">
        <div>
          <h2 class="tuto__title">Pourquoi Ftero</h2>
          <p>Ftero est un site de partage, de découverte et de transmission. Trouvez des thèmes qui vous insiprent ou publiez en et partagez le récit des contributeurs de votre thème</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
