<div class="banner"=>
  <div class="banner__content">
    <h1>FTERO</h1>
    <p>Libérez votre inspiration</p>
    <%= link_to 'Entrer', themes_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
