<div class="container">
  <h1><%= "Thème proposé: #{@theme.name}" %></h1>
  <br>
  <br>
  <% @posts.each do |post| %>
    <div class="row">
      <h2><%= "#{post.content}"%></h2>
      <p><%= post.user.pseudo %></p>
    </div>
  <% end %>
</div>
