<div class="container">

  <h1>Commencez à écrire !</h1>
  <p>
    <%= simple_form_for [@theme, @post] do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.input :private, as: :boolean, inline_label: 'Je souhaite que ce contenu reste privé' %>
      <%= f.button :submit %>
    <% end %>
  </p>
</div>
