.comment__card {
  display: flex;
  align-items: center;
  font-family: "rubik", sans-serif;
}


.comment__card__content {
  background-color: white;


}

.comment__card__avatar {
  background-color: white;
}
