.post__title h2{
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.post__card {

  font-family: "rubik", sans-serif;
  text-align: justify;
  padding: 20px;
  font-size: 16px;
  background-color: white;
}

