.theme__box {
  margin-bottom: 10px;
  display: flex;
}

.theme__card {
  flex-grow: 1;
  height: 300px;
  // width: 370px;
  margin-right: 3px;
  display: block;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: white;
  padding: 15px;
  transition: $transition;
  position: relative;
  &:hover {
    color: $dark;
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }
  h1 {
    font-size: 18px;
    color: black;
  }
  p{
    font-size: 14px;
    color: $gray;
  }
}

a:hover {
 text-decoration: none;
}

.transition__effect {
  transition: all 0.3s ease;
  transition: $transition;
  &:hover {
    color: $dark;
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }
}

.theme__details {
  background-color: white;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  h3 {
    font-family: "rubik", sans-serif;
    font-size: 14px;
  }

  .theme__title {
    font-family: "rubik", sans-serif;
    font-size: 25px;
    width: 980px;
  }

  .theme__category {
    position: absolute;
    top: 19px;
    right: 10px;
  }

  .post__content {
    line-height: 30px;
  }

  h2 {
    font-family: "rubik", sans-serif;
    font-size: 16px;
    }

  p {
    font-family: "rubik", sans-serif;
    font-size: 12px;
    border:1px solid #cccecc;
    display: inline-block;
    border-radius: 5%;
    padding: 7px;
    background-color: #f4f4f4;
    color: #6d6b6b;
  }
}

.theme__ongoing {
  position: absolute;
  top: 38px;
  right: 15px;
  color: $red;
}

.theme__image {
  max-width: 290px;
  max-height: 130px;
}

.theme__contributors{
  position: absolute;
  right: 15px;
  bottom: 9px;
}

.theme__publication {
  position: absolute;
  bottom: -3px;
  left: 15px;
}

.theme__owner {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  height: 54px;
  line-height: 1;
}

.theme__card__title {
  font-weight: 500;
}
