<p>Bonjour <%= @resource.email %>!</p>

<p>
Nous vous contactons pour vous informer que votre mot de passe a été changé. Si vous n'êtes pas à l'origine de cette action, merci de prendre contact avec nous au plus tôt</p>
